venv/
.env
__pycache__/
*.pyc
instance/
.webassets-cache
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
pip-wheel-metadata/
wheels/